@font-face {
  font-family: spotify-font;
  src: url(fonts/CircularStd-Bold.otf);
}

body {
  background-color: #212121;
  margin: 0;
  font-family: spotify-font, sans-serif;
}

h1 {
  color: #da7878;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

h2 {
  color: #da7878;
  font-size: 2.2rem;
  display: flex;
  justify-content: center;
  margin-top: -0.7em;
}

#artiest,
#artiestKiezen {
  color: #2a9850;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

#playlistTitel {
  color: #2a9850;
  font-size: 2.5rem;
  margin-top: -2em;
  margin-left: 4em;
}

#nieuwNummerKnop,
#nieuweArtiestKnop,
#likeKnop {
  font-family: spotify-font, sans-serif;
  font-size: 2em;
  color: rgb(255, 255, 255);
  background-color: #2a9850;
  cursor: pointer;
  padding: 0.3em;
  margin: 1em;
}

#button3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#likeKnop {
  background-color: rgb(36, 99, 29);
}

#nieuweArtiestKnop {
  background-color: #8d2b2b;
}

#artiest {
  font-size: 2em;
  color: #2a9850;
  display: flex;
  margin: 1em;
  justify-content: center;
}

#artiestEmbed {
  display: flex;
  justify-content: center;
  margin: auto;
  width: fit-content;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#artiestList {
  background-color: #2a9850;
  width: fit-content;
  display: flex;
  margin: auto;
  border-radius: 1.5em;
  margin-bottom: 5em;
}

.artiestListItems {
  color: #deddef;
  list-style-type: none;
  font-size: 3em;
  padding: 0.1em;
  margin: 0.7em;
}

.artiestListItems:hover {
  cursor: pointer;
}

.artiest:hover {
  background-color: rgb(166, 80, 80);
}

.artiest {
  margin-bottom: 0.5em;
}

#playlist {
  position: absolute;
  flex-direction: column;
  width: fit-content;
  padding: 2em;
  background: rgb(108, 76, 76);
  display: flex;
  visibility: hidden;
  border-radius: 1em;
  margin-left: 3em;
}

#playlistTitel {
  font-size: 2em;
  color: #2a9850;
  margin: 1em;
  position: relative;
}

#playlistContainer {
  padding-left: 4em;
}
